* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.app {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 15rem;
}

.button {
  height: 50px;
  background-image: linear-gradient(200deg, rgb(225, 225, 225), grey);
  color: rgb(96, 96, 96);
  transition: all ease-in-out .2s;
  border: 3px outset rgb(121, 121, 121);
  border-radius: 20px;
  padding: 5px;
}

.button:hover {
  background-image: linear-gradient(200deg, rgb(246, 246, 246), rgb(165, 165, 165));
  transition: all ease-in-out .2s;
}

.button:active {
  background-image: linear-gradient(200deg, rgb(141, 141, 141), rgb(0, 0, 0));
  color: rgba(255, 255, 255, 0.503);
  transition: all ease-in-out .2s;
}